.form-button {
  height: 36px;
  border-radius: 4px;
  background-color: #3366ff;
  border: 0;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.delete {
  border: 1.5px dashed #fff;
  color: #fff;
  background: #000;
  padding: 4px 8px;
  border-radius: 2px;
}
