.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home h1 {
  margin-bottom: 16px;
  color: #fff;
  font-size: 48px;
  padding-top: 96px;
}

.home span {
  color: #f1f1f1;
  margin-bottom: 16px;
}

.links {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90%;
}

.link-area {
  background: #f0f;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 0;
  user-select: none;
  border-radius: 4px;
  transition: all 0.5s;
}

.link-area:hover {
  transform: scale(1.05);
}

.link-text {
  line-height: 150%;
  color: #000;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 16px 0;
}

@media screen and (max-width: 550px) {
  .home h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 360px) {
  .home h1 {
    font-size: 24px;
  }

  .link-text {
    font-size: 14px;
  }
}
